/* .tovarcar {
   background: var(--bb-lite);
} */
.tovarcar__bl-top {
   display: flex;
   gap: 10px;
   margin-bottom: 20px;

}
.tovarcar__bl-link {
   background: var(--bb);
   padding: 5px 10px;
   color: var(--st);
   font-size: 14px;
   margin-top: auto;
   text-align: center;
   overflow: hidden;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

/* _____________ */
.tovarcar__box {
   display: flex;
   gap: 18px;
   flex-wrap: wrap;
}
.tovarcar__box-item {
   display: flex;
   flex-direction: column;
   width: 260px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   overflow: hidden;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}
.tovarcar__box-image {
   height: 250px;
}
.tovarcar__box-image img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.tovarcar__box-txt {
   display: flex;
   flex-direction: column;
   padding: 15px 15px 20px;
   background: #f5f5f5;
   flex-grow: 1;
}
.tovarcar__cart-title {
   font-size: 20px;
   line-height: 135%;
   margin-bottom: 15px;
}
.tovarcar__cart-text {
   font-size: 15px;
   line-height: 130%;
}
.tovarcar__artikul {
   display: block;
   font-size: 14px;
   margin-bottom: 10px;
}
.tovarcar__cart-link {
   background: var(--bb);
   padding: 5px 10px;
   color: var(--st);
   font-size: 14px;
   margin-top: auto;
   text-align: center;
}
.tovarcar__cart-link:hover {
   background: var(--bb-hov);
   color: var(--st);

}